.container {
  $container-padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $container-width + ($container-padding * 2);
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.grid {
  display:flex;
  flex-wrap: wrap;
}

@media(max-width:1024px) {
  $container-padding: 30px;
  .container {
    max-width: 480px + ($container-padding * 2);
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
}
