.section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  $padding: 150px;
  margin: 0 auto;
  width: 100%;
  max-width: $container-width + ($padding * 2);
  padding-left: $padding;
  padding-right: $padding;
}

.grid {
  display:flex;
  flex-wrap: wrap;
}

@media(max-width:1024px) {
  .section {
    max-width: 660px;
  }

  .container {
    $padding: 30px;
    max-width: 480px + ($padding * 2);
    padding-left: $padding;
    padding-right: $padding;
  }
}
