
.fade-enter,
.fade-leave-to { opacity: 0; }

.top-leave-to { transform: translateY(-100vh); }

.trans-page-from-bottom {
  &-enter-active {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 300vh;
    overflow: hidden;
    backface-visibility: hidden;
    background: $bg-1;
    transition: transform 0.75s $ease, opacity 0.75s $ease;

    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: $fill-1;
      transition: transform 0.75s $ease;
    }
  }

  &-enter { transform: translateY(100vh); }
  &-enter-to {
    transform: translateY(0);
    &::before { transform: translateY(-100vh); }
  }
  &-leave { display: none; }
}

.trans-page-from-left {
  &-enter-active {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 300vh;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.75s $ease;

    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: $fill-1;
      transition: transform 0.75s $ease;
    }
  }

  &-enter { transform: translateX(-100%); }
  &-enter-to {
    transform: translateY(0);
    &::before { transform: translateX(100%); }
  }
  &-leave { display: none; }
}

.trans-page-scale {
  &-enter-active {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backface-visibility: hidden;
    transition: opacity 0.75s $ease, transform 0.75s $ease;
  }

  &-enter { opacity: 0; transform: scale(.9); }
  &-enter-to { opacity: 1; transform: scale(1); }
  &-leave { display: none; }
}


.trans-el-from-bottom-fade {
  transition: transform .5s $ease-2, opacity .5s $ease-2;
  &-before { opacity: 0; transform: translateY(30px); }
  &-enter  { opacity: 1; transform: translateY(0); }
}

.trans-el-from-bottom-fade-2 {
  transition: transform .5s $ease-2, opacity .5s $ease-2;
  &-before { opacity: 0; transform: translateY(100px); }
  &-enter  { opacity: 1; transform: translateY(0); }
}

.trans-el-from-left-fade {
  transition: transform .5s $ease-2, opacity .5s $ease-2;
  &-before { opacity: 0; transform: translateX(#{col(1) * -1}); }
  &-enter  { opacity: 1; transform: translateX(0); }
}

.trans-el-fade {
  transition: opacity .5s $ease-2;
  &-before { opacity: 0; }
  &-enter  { opacity: 1; }
}
